[submodule "wolf/admin/themes/melcher"]
	path = wolf/admin/themes/melcher
	url = git@github.com:gzmask/MelcherCMS-admin-theme.git
[submodule "wolf/plugins/account"]
	path = wolf/plugins/account
	url = git@github.com:gzmask/wolfcms-account-plugin.git
[submodule "wolf/plugins/gallery"]
	path = wolf/plugins/gallery
	url = git@github.com:gzmask/gallery-plugin.git
[submodule "wolf/plugins/secure_upload"]
	path = wolf/plugins/secure_upload
	url = git@github.com:gzmask/secured-upload-plugin.git
[submodule "wolf/plugins/banner"]
	path = wolf/plugins/banner
	url = git@github.com:chaop/bannerrotator-plugin.git
