
.image-container {display:none;}
.navigation {display:none;}
body {font-family: Arial;color:#000!important;}
a {color:#000;text-decoration:none;}
#slideshow, #wrapper, #supersize, #supersize img {display:none!important;}
h1,h2,h3,h4,h5,h6 { color:#000;}
h1 {margin-top: 10em;}
.button { display:none;}
