  /* Paging */
  #paginator {
    font-size:0.8em;
    overflow:auto;
    padding:4px;
  }
	
  .pageselected {
    font-size:1.1em;
    font-weight:bold;
    color:#ddd;
    background-color:#555;
    border:1px solid #666 !important;
    padding:1px 3px 1px 2px !important;
    margin:0 2px 0 2px !important;
  }

  #paginator li, .pageselected {
    font-size:1.1em;
    line-height: 1.4em;
    border:1px solid #a6a6a6;
    padding:1px 6px 0px 5px !important;
    margin:0 7px 0 0!important;
    list-style-type:none !important;
    float:left;
    display:block;
  }
  
  a:hover.page {
    color:#444;
    background:#f0f0f0;
  }